/* General */
body {
color: #ffff;
background-color: black;
font-family: "Black Ops One", system-ui;
}

header {
    text-align: center;
    font-size: xx-large;
    font-style: normal;
    text-shadow: 2px 2px 5px cornflowerblue;
}

h1 {
    text-align: center;
}

.container {
    width: 1024px;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 30px;
}

#character-select {
    display: flex;
    justify-content: center;
}

#enemies {
    display: flex;
    justify-content: center;
}

#arena {
    display: flex;
    justify-content: center;
}

/* Gundam Image */
.gundam-container,
.enemy-gundam-container {
    position: relative;
}

.gundam-img,
.hero-gundam-img,
.enemy-gundam-img {
    padding: 2px;
    margin: 5px;
    border: 3px outset khaki;
    height: 285px;
    width: 210px;
}

.enemy-gundam-img {
    border: 3px outset darkred;
}

.gundam-name {
    color: gold;
    position: absolute;
    bottom: 15px;
    left: 14px;
}

.gundam-health {
    position: absolute;
    top: 15px;
    right: 14px;
}

.gundam-img:hover,
.enemy-gundam-img:hover {
    cursor: pointer;
    opacity: 0.8;
}

.gundam-img:active,
.enemy-gundam-img:active {
    opacity: unset;
}

/* @keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #eeff00, 0 0 40px #eeff00, 0 0 50px #eeff00, 0 0 60px #eeff00, 0 0 70px #eeff00;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #eeff00, 0 0 40px #eeff00, 0 0 50px #eeff00, 0 0 60px #eeff00, 0 0 70px #eeff00, 0 0 80px #eeff00;
    }
} */